<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initialInvestment">INITIAL INVESTMENT</label>
      <input
        type="number"
        name="initialInvestment"
        id="initialInvestment"
        [(ngModel)]="initialInvestment"
      />
    </p>

    <p>
      <label for="annualInvestment">ANNUAL INVESTMENT</label>
      <input
        type="number"
        name="annualInvestment"
        id="annualInvestment"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expectedReturn">EXPECTED RETURN</label>
      <input
        type="number"
        name="expectedReturn"
        id="expectedReturn"
        [(ngModel)]="expectedReturn"
      />
    </p>

    <p>
      <label for="duration">DURATION</label>
      <input
        type="number"
        name="duration"
        id="duration"
        [(ngModel)]="duration"
      />
    </p>
  </div>

  <p>
    <button type="submit">CALCULATE</button>
  </p>
</form>
